/* General */
body {
  font-family: 'Lato', sans-serif;
  background-color: #f2efe9;
}
/* End of general */



/* Selectable item boxes */
.btn-secondary {
  color: rgb(197, 197, 197);
  background-color: #9eb8c2;
  /* background-image: linear-gradient(325deg, #607c86, #9eb8c2); */
}

.btn-secondary:hover {
  background-color: #9eb8c2;
  border-color: rgb(41, 41, 41);
}

.btn-secondary.active {
  border-color: rgb(41, 41, 41);
}

.nameplate {
  background-color: rgb(255, 255, 255);
  color: rgb(43, 43, 43);
  width: 100%;
  /* margin: 0; */
}

.item-box {
  padding: 0;
  border: rgb(41, 41, 41);
  border-radius: 0;
  border-width: 2px;
  border-style: solid;
}

.item-box.active > img {
  opacity: 1;
}

.item-image {
  width: 90%;
  margin-top: 1em;
  margin-bottom: 1em;
}
/* End of selectable item boxes */



/* Nav bar */
.top-bar {
  color: white;
  background-color: #343c3f;
  width: 100%;
}

.top-bar a {
  color: white;
}

.top-bar > div > div:first-child {
  text-transform: uppercase;
  font-family: 'Abel', sans-serif;
}
/* End of nav bar */



/* Category tabs */
.nav-tabs {
  width: 100%;
  border-bottom: none;
}

.nav-tabs .nav-item .nav-link {
  color: #111111;
}

.nav-tabs .nav-item .nav-link.active {
  background-color: #ccc1a0;
  border-color: #ccc1a0;
  color: #111111;
}

.tab-pane {
  background-color: #ccc1a0;
}
/* End of category tabs*/
