<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Warframe Components Calculator</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://kit.fontawesome.com/8301eb6e3c.js" crossorigin="anonymous"></script>
</head>
<body>

  <!-- <div class="top-bar">
    <h4>Warframe Component Cost Calculator</h4>
    <h6><em>Tool version 1.0 for Warframe version 29.6 Orphix Venom</em></h6>
  </div> -->

  <div class="container-fluid ml-0">

    <nav class="navbar navbar-dark mb-2">
      <span class="navbar-brand mb-0 h1">Warframe Component Cost Calculator</span> <h6><em>Tool version 1.1 for Warframe version 29.6 Orphix Venom</em></h6>
    </nav>

    <!-- <div class="text-center mt-2">
      <h4>Warframe Component Cost Calculator</h4>
      <h6><em>Tool version 1.0 for Warframe version 29.6 Orphix Venom</em></h6>
    </div>
    <hr> -->

    <!-- Main content of the page -->
    <div class="row" id="main-content">

      <!-- Information column -->
      <div class="col-md-2">
        <p class="alert alert-warning"><i class="fas fa-exclamation-triangle mr-2"></i>This page uses cookies to store which items you have selected.</p>
        <p class="alert alert-info"><i class="fas fa-info-circle mr-2"></i>This calculator lists the required components to build the selected items. Only items which are built in the foundry are listed, so things like weapons purchased from Baro are not listed here. Please note that parts such as a Warframe's chassis / systems / neuroptics are not listed individually, instead the cost of each of these sub-components is included in the parent item's costs. This also applies to weapons which use another weapon in their recipe, but excludes Forma, Fieldrons, Mutagen Masses, Detonite Injectors, and refined minerals and gems. This tool is intended to be used by scrolling through your codex (sort by rank) and selecting items which have not yet been mastered / made. Note that this is why arch-guns are listed under Primary, arch-melee under Melee, and archwings under Warframes; they are sorted like this in the codex.</p>
      </div>    
      <!-- End of information column -->

      <!-- Item list column -->
      <div class="col-md-8">

        <div class="row">
          <div class="col-md-9">
            <ul class="nav nav-tabs" role="tablist">
              {% for category in category_data %}
              <li class="nav-item">
                <a class="nav-link {% if loop.first %}active{% endif %}" data-toggle="tab" href="#{{ category.name }}" role="tab">{{ category.name }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>

          <div class="col-md-3">
            <div class="d-flex justify-content-end">
              <button class="btn btn-info mt-1" onclick="selectAllItems()">Select All</button>
              <button class="btn btn-info ml-1 mt-1" onclick="deselectAllItems()">Deselect All</button>
            </div>
          </div>
        </div>

        

        

        <div class="tab-content mb-3">

          {% for category in category_data %}
          <div class="tab-pane fade show {% if loop.first %}active{% endif %}" id="{{ category.name }}" role="tabpanel">

            <div class="row no-gutters">
              {% for item_name in category.item_info %}

              <div class="col-md-2 mt-2">
                <div type="button" class="btn btn-secondary btn-block item-box active" data-toggle="button" id="{{ item_name[2] }}" autocomplete="off" onclick="toggleItem('{{ item_name[0] }}')">
                  <img class="item-image" src="img/{{ item_name[1] }}" alt="" width="100%">
                  <br>
                  <div class="nameplate">
                    {{ item_name[0] }}
                  </div>
                </div>
              </div>
              
              {% endfor %}
            </div>

          </div>
          {% endfor %}
        </div>
      </div>
      <!-- End of item list column -->

      <!-- Components list column -->
      <div class="col-md-2">
        <div id="componentListContainer">

        </div>
      </div>
      <!-- End of component list column -->

    </div>
    <!-- End of main content -->

  </div>

  <script src="./js/item-components.js"></script>
  <script src="./js/all-item-names.js"></script>
  <script src="./js/component-list.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
